{% include 'header.html' %}
{% load static %}


<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
			<div class="theme-inner-banner">
				<div class="container">
					<h2 class="intro-title text-center">Single Blog</h2>
					<ul class="page-breadcrumb style-none d-flex justify-content-center">
						<li><a href="index.html">Home</a></li>
						<li class="current-page">Blog</li>
					</ul>
				</div>
				<img src="{% static 'images/shape/shape_38.svg' %}" alt="" class="shapes shape-one">
				<img src="{% static 'images/shape/shape_39.svg' %}" alt="" class="shapes shape-two">
			</div> <!-- /.theme-inner-banner -->
			


			<!--
			=====================================================
				Blog Details
			=====================================================
			-->
			<div class="blog-details pt-90 mb-150 lg-pt-40 lg-mb-100">
				<div class="container">
					<div class="row">
						<div class="col-xxl-11 m-auto">
							<div class="row">
								<div class="col-lg-8">
									<article class="blog-meta-three tran3s mt-45">
										<figure class="post-img m0"><img src="{{ getBlog.image.url }}" alt="" class="w-100 tran4s"></figure>
										<div class="post-data">
											<div class="post-tag"><a href="#">{{ getBlog.Category.name }}</a> - {{ getBlog.Read_Time }} read</div>
											<div class="blog-title"><h4>{{ getBlog.Title }}</h4></div>

											{{ getBlog.Description | safe }}





											<div class="bottom-widget d-sm-flex align-items-center justify-content-between">
												<ul class="d-flex tags style-none pt-10">
													<li>Tag:</li>
													<li><a href="#">{{ getBlog.tags }}</a></li>
												</ul>
												<ul class="d-flex share-icon align-items-center style-none pt-10">
													<li>Share:</li>
													<li><a href="#"><i class="bi bi-google"></i></a></li>
													<li><a href="#"><i class="bi bi-twitter"></i></a></li>
													<li><a href="#"><i class="bi bi-instagram"></i></a></li>
												</ul>
											</div>
										</div> <!-- /.post-data -->
									</article>
									
									
								</div>

								<div class="col-lg-4 col-md-6">
									<div class="blog-sidebar ps-xl-5 ps-lg-3 me-xxl-5 mt-45 md-mt-70">
										<div class="sidebar-search mb-45">
											<form action="#">
												<input type="text" placeholder="Search..">
												<button class="tran3s"><i class="bi bi-search"></i></button>
											</form>
										</div>
										<div class="sidebar-category mb-50">
											<h5 class="sidebar-title">Category</h5>
											<ul class="style-none">
												<li class="current-page"><a href="blog-details.html">Machine Learning <span>(03)</span></a></li>
												<li><a href="blog-details.html">Big Data Services <span>(05)</span></a></li>
												<li><a href="blog-details.html">Chatboot <span>(08)</span></a></li>
												<li><a href="blog-details.html">User Analysis <span>(10)</span></a></li>
												<li><a href="blog-details.html">Artificial <span>(02)</span></a></li>
												<li><a href="blog-details.html">Intelligence <span>(11)</span></a></li>
											</ul>
										</div>
										<div class="sidebar-keyword mb-50">
											<h5 class="sidebar-title">Keywords</h5>
											<ul class="clearfix style-none">
												<li><a href="blog-details.html">Ideas</a></li>
												<li><a href="blog-details.html">Education</a></li>
												<li><a href="blog-details.html">DATA</a></li>
												<li><a href="blog-details.html">MAchine</a></li>
												<li><a href="blog-details.html">AI</a></li>
												<li><a href="blog-details.html">INTELLIgent</a></li>
											</ul>
										</div>
										<div class="sidebar-quote">
											<ul class="style-none d-flex justify-content-center rating">
												<li><i class="bi bi-star-fill"></i></li>
												<li><i class="bi bi-star-fill"></i></li>
												<li><i class="bi bi-star-fill"></i></li>
												<li><i class="bi bi-star-fill"></i></li>
												<li><i class="bi bi-star-fill"></i></li>
											</ul>
											<p>They not only understand what I say but read between the lines and also give me ideas of my own.</p>
											<div class="name">Rashed Kabir, <span>Designer</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.blog-details -->



{% include 'footer.html' %}