{% include 'header.html' %}
{% load static %}


<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
			<div class="theme-inner-banner">
				<div class="container">
					<h2 class="intro-title text-center">Blogs</h2>
					<ul class="page-breadcrumb style-none d-flex justify-content-center">
						<li><a href="{% url 'index' %}">Home</a></li>
						<li class="current-page">Blogs</li>
					</ul>
				</div>
				<img src="{% static 'images/shape/shape_38.svg' %}" alt="" class="shapes shape-one">
				<img src="{% static 'images/shape/shape_39.svg' %}" alt="" class="shapes shape-two">
			</div> <!-- /.theme-inner-banner -->
			


			<!--
			=====================================================
				Blog Section Three
			=====================================================
			-->
			<div class="blog-section-three pt-90 mb-150 lg-pt-40 lg-mb-100">
				<div class="container">
					<div class="row gx-xxl-5">
						{% for blog in all_blogs %}
						<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up">
							<article class="blog-meta-one color-two tran3s mt-45">
								<figure class="post-img m0"><a href="{% url 'blog_details' blog.slug %}" class="w-100 d-block"><img src="{{ blog.image.url }}" alt="" class="w-100 tran4s"></a></figure>
								<div class="post-data">
									<div class="post-tag"><a href="{% url 'blog_details' blog.slug %}">{{ blog.Category.name }}</a> - {{ blog.Read_Time }}</div>
									<a href="{% url 'blog_details' blog.slug %}" class="blog-title"><h5>{{ blog.Title }}</h5></a>
								</div> <!-- /.post-data -->
							</article>
						</div>
						{% endfor %}

						
						
					</div> <!-- /.row -->
				
				</div>
			</div> <!-- /.blog-section-three -->


{% include 'footer.html' %}