{% include 'header.html' %}
{% load static %}
			<!--
			=============================================
				Theme Inner Banner
			============================================== 
			-->

<!--			<div class="theme-inner-banner">-->
<!--				<div class="container">-->
<!--					<h2 class="intro-title text-center">Ruby's Products</h2>-->
<!--					<ul class="page-breadcrumb style-none d-flex justify-content-center">-->
<!--						<li><a href="{% url 'index' %}">Home</a></li>-->
<!--						<li class="current-page">Products</li>-->
<!--					</ul>-->
<!--				</div>-->
<!--				<img src="{% static 'images/shape/shape_38.svg' %}" alt="" class="shapes shape-one">-->
<!--				<img src="{% static 'images/shape/shape_39.svg' %}" alt="" class="shapes shape-two">-->
<!--			</div> &lt;!&ndash; /.theme-inner-banner &ndash;&gt;-->
			


			<!--
			=====================================================
				Blog Section Three
			=====================================================
			-->

			<div class="blog-section-three pt-90 mb-150 lg-pt-40 lg-mb-100">
				<div class="container">

					<div class="row gx-xxl-5">
						<div style="margin-top:55px;">
							<h4>Search Result:</h4>
						</div>
						{% if filter_products %}
						{% for product in filter_products %}
						<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up">
							<article class="blog-meta-one color-two tran3s mt-45">
								<figure class="post-img m0"><a href="{% url 'product_details' product.slug %}" class="w-100 d-block"><img src="{{ product.image.url }}" alt="" class="w-100 tran4s"></a></figure>
								<div class="post-data">
									<div class="post-tag"><a href="">{{ product.Author }}</a> - {{ product.Category.name }}</div>
									<a href="" class="blog-title"><h5>{{ product.Name }}</h5></a>
								</div> <!-- /.post-data -->
							</article>
						</div>
						{% endfor %}

						{% else %}
						<h2>No Result Found</h2>
						{% endif %}



						
					</div> <!-- /.row -->
				
				</div>
			</div> <!-- /.blog-section-three -->

            {% include 'footer.html' %}