{% include 'header.html' %}
{% load static %}

<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
			<div class="theme-inner-banner">
				<div class="container">
					<h2 class="intro-title text-center">Our Services</h2>
					<ul class="page-breadcrumb style-none d-flex justify-content-center">
						<li><a href="index.html">Home</a></li>
						<li class="current-page">Services</li>
					</ul>
				</div>
				<img src="{% static 'images/shape/shape_38.svg' %}" alt="" class="shapes shape-one">
				<img src="{% static 'images/shape/shape_39.svg' %}" alt="" class="shapes shape-two">
			</div> <!-- /.theme-inner-banner -->

			
			

			<!-- 
			=============================================
				Feature Section Twenty Four
			============================================== 
			-->
			<div class="fancy-feature-twentyFour">
				<div class="container">
					<div class="row gx-xxl-5">
						<div class="col-lg-4 col-sm-6 mb-40 xs-mb-30 d-flex" data-aos="fade-up">
							<div class="block-style-four">
								<div class="icon d-flex align-items-end justify-content-center"><img src="{% static 'images/icon/icon_11.svg' %}" alt=""></div>
								<a href="service-details-V1.html"><h5>Mobile App Development</h5></a>
								<p>We build mobile application layers natively or across platforms</p>
								<a href="service-details-V1.html" class="more-btn"><img src="{% static 'images/icon/icon_13.svg' %}" alt="" class="tran3s"></a>
							</div> <!-- /.block-style-four -->
						</div>
						<div class="col-lg-4 col-sm-6 mb-40 xs-mb-30 d-flex" data-aos="fade-up" data-aos-delay="100">
							<div class="block-style-four">
								<div class="icon d-flex align-items-end justify-content-center"><img src="{% static 'images/icon/icon_08.svg' %}" alt=""></div>
								<a href="service-details-V1.html"><h5>Web Development</h5></a>
								<p>We build Website, Apps, PWAs, APIs
etc. and provide powerful content delivery networks for top performance.</p>
								<a href="service-details-V1.html" class="more-btn"><img src="{% static 'images/icon/icon_13.svg' %}" alt="" class="tran3s"></a>
							</div> <!-- /.block-style-four -->
						</div>
						<div class="col-lg-4 col-sm-6 mb-40 xs-mb-30 d-flex" data-aos="fade-up" data-aos-delay="200">
							<div class="block-style-four">
								<div class="icon d-flex align-items-end justify-content-center"><img src="{% static 'images/icon/icon_09.svg' %}" alt=""></div>
								<a href="service-details-V1.html"><h5>Machine Learning & AI</h5></a>
								<p>We build powerful tools with AI
algorithms for taking a step into future tech.</p>
								<a href="service-details-V1.html" class="more-btn"><img src="{% static 'images/icon/icon_13.svg' %}" alt="" class="tran3s"></a>
							</div> <!-- /.block-style-four -->
						</div>
						<div class="col-lg-4 col-sm-6 mb-40 xs-mb-30 d-flex" data-aos="fade-up" data-aos-delay="100">
							<div class="block-style-four">
								<div class="icon d-flex align-items-end justify-content-center"><img src="{% static 'images/icon/icon_10.svg' %}" alt=""></div>
								<a href="service-details-V1.html"><h5>Creative & Marketing</h5></a>
								<p>We build Ui/Ux and can also market
your product with proper creative solution.</p>
								<a href="service-details-V1.html" class="more-btn"><img src="{% static 'images/icon/icon_13.svg' %}" alt="" class="tran3s"></a>
							</div> <!-- /.block-style-four -->
						</div>
<!--						<div class="col-lg-4 col-sm-6 mb-40 xs-mb-30 d-flex" data-aos="fade-up" data-aos-delay="200">-->
<!--							<div class="block-style-four">-->
<!--								<div class="icon d-flex align-items-end justify-content-center"><img src="{% static 'images/icon/icon_11.svg' %}" alt=""></div>-->
<!--								<a href="service-details-V1.html"><h5>Data Mining</h5></a>-->
<!--								<p>You can discover hidden opportunities collecting, analyzing or explaining your data in a different way.</p>-->
<!--								<a href="service-details-V1.html" class="more-btn"><img src="{% static 'images/icon/icon_13.svg' %}" alt="" class="tran3s"></a>-->
<!--							</div> &lt;!&ndash; /.block-style-four &ndash;&gt;-->
<!--						</div>-->
<!--						<div class="col-lg-4 col-sm-6 mb-40 xs-mb-30 d-flex" data-aos="fade-up" data-aos-delay="300">-->
<!--							<div class="block-style-four">-->
<!--								<div class="icon d-flex align-items-end justify-content-center"><img src="{% static 'images/icon/icon_12.svg' %}" alt=""></div>-->
<!--								<a href="service-details-V1.html"><h5>Statistical Modeling</h5></a>-->
<!--								<p>Offer future-ready business applications that can learn & adjust with time.</p>-->
<!--								<a href="service-details-V1.html" class="more-btn"><img src="{% static 'images/icon/icon_13.svg' %}" alt="" class="tran3s"></a>-->
<!--							</div> &lt;!&ndash; /.block-style-four &ndash;&gt;-->
<!--						</div>-->
					</div>
				</div>
			</div> <!-- /.fancy-feature-twentyFour -->



			<!-- 
			=============================================
				Feature Section Nineteen
			============================================== 
			-->
			<div class="fancy-feature-nineteen position-relative pt-160 lg-pt-100">
				<div class="container">
					<div class="row">
						<div class="col-xxl-5 col-lg-6 col-md-7">
							<div class="block-style-thirteen" data-aos="fade-right">
								<div class="title-style-three pb-15">
									<div class="sc-title">Our Work Process (Work Process)</div>
									<h2 class="main-title">Software Development Life Cycle</h2>
									We follow Agile & Waterfall methodologies for designing
our systems.
								</div> <!-- /.title-style-three -->
								<ul class="style-none list-item">


									<li data-aos="fade-up">
										<div class="numb tran3s">1</div>
										<h6>Requirement Analysis</h6>
										<span>We first take your requirement and analyse them.</span>
									</li>
									<li data-aos="fade-up" data-aos-delay="50">
										<div class="numb tran3s">2</div>
										<h6>Software Architure</h6>
										<span>We make a blueprint of your system.</span>
									</li>
									<li data-aos="fade-up" data-aos-delay="100">
										<div class="numb tran3s">3</div>
										<h6>Interface Design.</h6>
										<span>The making of UI/UX Designs.</span>
									</li>
									<li data-aos="fade-up" data-aos-delay="50">
										<div class="numb tran3s">4</div>
										<h6>Core Dev</h6>
										<span>Writing & Programming your system.</span>
									</li>
									<li data-aos="fade-up" data-aos-delay="100">
										<div class="numb tran3s">5</div>
										<h6>Q/A & Testing</h6>
										<span>Qualtity Assurance of your system</span>
									</li>
								</ul>
							</div> <!-- /.block-style-thirteen -->
						</div>
					</div>
				</div> <!-- /.container -->
				<div class="illustration-holder" data-aos="fade-left">
					<img src="{% static 'images/assets/ils_15.svg' %}" alt="" class="w-100 main-illustration">
					<img src="{% static 'images/assets/ils_15_1.svg' %}" alt="" class="shapes shape-one">
					<img src="{% static 'images/assets/ils_15_2.svg' %}" alt="" class="shapes shape-two">
					<img src="{% static 'images/assets/ils_15_3.svg' %}" alt="" class="shapes shape-three">
					<img src="{% static 'images/assets/ils_15_4.svg' %}" alt="" class="shapes shape-four">
					<img src="{% static 'images/assets/ils_15_5.svg' %}" alt="" class="shapes shape-five" data-aos="fade-down" data-aos-delay="200" data-aos-duration="2000">
					<img src="{% static 'images/assets/ils_15_6.svg' %}" alt="" class="shapes shape-six" data-aos="fade-down" data-aos-delay="100" data-aos-duration="2000">
					<img src="{% static 'images/assets/ils_15_7.svg' %}" alt="" class="shapes shape-seven" data-aos="fade-down" data-aos-duration="2000">
				</div> <!-- /.illustration-holder -->
				<div class="shapes oval-one"></div>
				<div class="shapes oval-two"></div>
				<img src="{% static 'images/shape/shape_47.svg' %}" alt="" class="shapes bg-shape-two">
			</div> <!-- /.fancy-feature-nineteen -->




			<!--
			=====================================================
				Feedback Slider Four
			=====================================================
			-->
			<div class="feedback-section-five bg-white pt-200 pb-95 lg-pt-100 lg-pb-40">
				<div class="container">
					<div class="title-style-three text-center" data-aos="fade-up">
						<div class="sc-title">Testimonials</div>
						<h2 class="main-title">Words from <span>Client</span></h2>
					</div> <!-- /.title-style-three -->

					<div class="feedback_slider_four pt-70 lg-pt-50" data-aos="fade-up">
						<div class="item">
							<div class="row">
								<div class="col-xxl-9 col-xl-10 col-lg-8 m-auto">
									<div class="feedback-block-four mb-80 ms-xxl-4 me-xxl-4">
										<img src="{% static 'images/icon/icon_34.svg' %}" alt="" class="m-auto">
										<p>Rubytech has provided wonderful automation solutions to many of our
projects and has provided them with proper system engineering.</p>
										<div class="cp-info">
											<h6>Raju Matabor</h6>
											<span>CEO, Publicitix</span>
										</div>
									</div> <!-- /.feedback-block-four -->
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-xxl-9 col-xl-10 col-lg-8 m-auto">
									<div class="feedback-block-four mb-80 ms-xxl-4 me-xxl-4">
										<img src="images/icon/icon_34.svg" alt="" class="m-auto">
										<p>We have complex IT projects that Rubytech has solved using creative
engineering and is providing wonderful service to our industry.</p>
										<div class="cp-info">
											<h6>Tahsin Ahsan</h6>
											<span>Business Development Executive, Wire</span>
										</div>
									</div> <!-- /.feedback-block-four -->
								</div>
							</div>
						</div>
<!--						<div class="item">-->
<!--							<div class="row">-->
<!--								<div class="col-xxl-9 col-xl-10 col-lg-8 m-auto">-->
<!--									<div class="feedback-block-four mb-80 ms-xxl-4 me-xxl-4">-->
<!--										<img src="images/icon/icon_34.svg" alt="" class="m-auto">-->
<!--										<p>Having a home based business is a wonderful asset to your life. The problem still stands it comes timeadvertise your business for a cheap cost. I know you have looked answer everywhere.</p>-->
<!--										<div class="cp-info">-->
<!--											<h6>Mahfuz Riad</h6>-->
<!--											<span>Designer</span>-->
<!--										</div>-->
<!--									</div> &lt;!&ndash; /.feedback-block-four &ndash;&gt;-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
					</div> <!-- /.feedback_slider_four -->
				</div>
				<img src="images/media/img_08.jpg" alt="" class="shapes avatar-one" width="45" height="45" style="outline-width: 6px;">
				<img src="images/media/img_09.jpg" alt="" class="shapes avatar-two" width="85" height="85" style="outline-width: 10px;">
				<img src="images/media/img_10.jpg" alt="" class="shapes avatar-three" width="85" height="85" style="outline-width: 10px;">
				<img src="images/media/img_11.jpg" alt="" class="shapes avatar-four" width="50" height="50" style="outline-width: 5px;">
			</div> <!-- /.feedback-section-five -->


{% include 'footer.html' %}